.container {
    background-color: #0f0f0f;
    width: 100%;
    height: calc(100vh - 76px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    max-width: 480px;
    object-fit: contain;
    /*Faz com que a imagem não altere as proporções*/
    width: auto;
    height: auto;
}

.title {
    color: #FFF;
    text-align: center;
    margin: 28px;
    line-height: 150%;
}

.infoContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box {
    background-color: #fafafa;
    padding: 14px 44px;
    border-radius: 4px;
    transition: transform 0.4s;
}

.box:hover {
    transform: scale(1.08)
}

@media screen and (max-width: 580px) {
    .hero {
        max-width: 70%;
    }

    .title {
        font-size: 24px;
    }

    .infoContent {
        flex-direction: column;
    }

    .box {
        width: 80%;
        margin-bottom: 14px;
        text-align: center;
    }
}